{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</head>

<body>
    {% include './navbar.html' %}
    <div id="content" class="p-4 p-md-5 pt-5">
        <div class="container justify-content-center d-flex">
            <div class="card text-center shadow rounded-box" style="width: 26rem;">
                <div class="card-body">
                    <h2>QUIZ</h2>
                  <img src="{% static 'fruit.png' %}" alt="ikonsuccess" style="width: 300px;height: 300px;">
                  <form method="POST" action="{% url 'testhashmicro:games' %}">
                    {% csrf_token %}
                  <table>
                      <tbody>
                        <tr>
                            <td colspan="3"><h3>Tebak nama-nama buah yang diawali huruf A!</h3></td>
                        </tr> 
                        <tr>
                            <td colspan="3">contoh jawaban benar : nanas,semangka,mangga</td>
                        </tr>
                        <tr>
                            <td colspan="3">contoh jawaban salah : nanas, semangka, mangga</td>
                        </tr>
                        <tr style="height: 30px;"><td></td></tr>
                        <tr>
                            <td>Jawaban : </td>
                            <td>    </td>
                            <td><input type="text" name="jawaban" id="jawaban" class="form-control"></td>
                        </tr>
                      </tbody>
                  </table>
                  <br>
                  <button class="btn btn-primary btn-lg" type="submit">Lihat Nilai</button>
                </form>
                  <br>
                  {% if msg %}
                  <h3><b>{{msg}}</b></h3>
                  {% else %}
                  <p></p>
                  {% endif %}
                </div>
              </div>
        </div>
    </div>
</body>

</html>