{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</head>

<body>
    {% include './navbar.html' %}
    <div id="content" class="p-4 p-md-5 pt-5">
        <div class="container shadow rounded-box">
            <h2>Detail Aktifitas</h2>
            <div class="row">
                <div class="col">
                    <p class="text-dark"><b>Nama Aktifitas</b></p>
                    <p class="text-dark">{{data.nama_aktifitas}}</p>
                </div>
                <div class="col">
                    <p class="text-dark"><b>Deksripsi</b></p>
                    <p class="text-dark">{{data.deskripsi}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-dark"><b>Tempat</b></p>
                    <p class="text-dark">{{data.tempat}}</p>
                </div>
                <div class="col">
                    <p class="text-dark"><b>Tanggal Pelaksanaan</b></p>
                    <p class="text-dark">{{data.tanggal}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-dark"><b>Status</b></p>
                    <p class="text-dark">{{data.status}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" href="{% url 'schedule:listschedule' %}">Kembali</a>
                    <a class="btn btn-primary" href="{% url 'schedule:updateSchedulePage' data.id_aktifitas %}">Ubah</a>
                </div>
            </div>
            <div>
                <br>
            </div>
        </div>
    </div>
    
</body>

</html>