{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</head>

<body>
    {% include './navbar.html' %}
    <div id="content" class="p-4 p-md-5 pt-5">
        <div class="container justify-content-center d-flex">
            <div class="card text-center shadow rounded-box" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Success</h5>
                  <img src="{% static 'ikonsuccess.png' %}" alt="ikonsuccess">
                  <p class="card-text">{{message}}</p>
                  <a href="{% url urlrouting %}" class="btn btn-primary">OK</a>
                </div>
              </div>
        </div>
    </div>
</body>

</html>